@model IEnumerable<MusicCatalog.Dtos.Review.GetReviewDto>



<h3>Recensioner</h3>

@foreach (var item in Model)
{
    <div class="card mb-1">
        <div class="d-flex gap-2 card-header pb-0">
            <p class="card-title mb-2">@item.User.UserName</p>
            <p class="text-muted mb-2">@item.CreatedAt</p>
        </div>
        <div class="card-body">
            <p class="card-text">@item.Content</p>
            <a href="#" class="btn btn-primary"></a>
        </div>
    </div>
}