@model IEnumerable<MusicCatalog.Dtos.Community.GetCommunityDto>

@{
    ViewData["Title"] = "Communities";
}

@Html.Raw(ViewBag.Alert)

<p>
    <a asp-action="CreateCommunity" class="btn btn-primary">Create New Community</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-1" style="width:350px;">
            <div class="card-body">
                <h5 class="card-title">Name: @Html.DisplayFor(modelItem => item.Name)</h5>
                @Html.ActionLink("View Posts", "AllPosts", "Post", new { communityId = item.Id }, new { @class = "btn btn-primary" })
                @if (User.Identity?.Name == item.User.UserName)
                {
                    <form asp-action="DeleteCommunity" method="post" class="mt-2">
                        <input type="hidden" name="communityId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        </div>
    }
</div>
